<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">Home</a>
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      Hi. I'm Jason Meridth. I'm a continuously learning software developer trying to not let best be the enemy of better.
    </p>
    <p class="social-icons">
      <a href="https://github.com/jmeridth"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://bitbucket.org/jmeridth"><i class="fa fa-bitbucket fa-2x"></i></a>
      <a href="https://twitter.com/jmeridth"><i class="fa fa-twitter fa-2x"></i></a>
    </p>
    <p class="social-icons">
      <a href="https://www.linkedin.com/in/jmeridth"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://plus.google.com/+JasonMeridth"><i class="fa fa-google-plus-square fa-2x"></i></a>
      <a href="/feed.xml"><i class="fa fa-rss fa-2x"></i></a>
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. Jason Meridth<br/>All rights reserved.
    </p>
  </div>
</div>
