---
name: Markdown Lint

on:
  push:
    branches:
      - main
    paths:
      - "content/**/*.md"
  pull_request:
    branches:
      - main
    paths:
      - "content/**/*.md"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag v6.0.2
        with:
          persist-credentials: false

      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # tag v22.0.0
        with:
          globs: "content/**/*.md"
